---
import Layout from "../layouts/Layout.astro"
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} /> 
     <link rel="stylesheet" href="/src/styles/global.css">
    <title>Maquirsa del Centro</title>
</head>
<body>
    
</body>
</html>