---
import Logo from "../components/Img/logop.png"
---
<head>
  <link rel="stylesheet" href="/src/styles/global.css">
  <meta charset="UTF-8">
</head>
<footer class="  w-full">
    <div class="mx-auto max-w-5xl px-4 py-16 sm:px-6 lg:px-8">
      <div class="flex justify-center">
        <img class=" h-14 brightness-50" src={Logo.src}>
      </div>
  
      <p class="mx-auto mt-5 max-w-md text-center leading-relaxed text-gray-500">
        &#169 MAQUIRSA DEL CENTRO S.A. DE C.V. | Todos los derechos reservados.
      </p>
  
      <ul class="mt-4 flex flex-wrap justify-center gap-6 md:gap-8 lg:gap-12">
        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75 hover:text-blue-900" href="/index.html"> Inicio </a>
        </li>
  
        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75 hover:text-blue-900" href="/index.html#conocenos"> Quienes Somos </a>
        </li>
  
        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75 hover:text-blue-900" href="/index.html#servicios"> Servicios </a>
        </li>
  
        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75 hover:text-blue-900" href="maquinaria.html"> Maquinaria </a>
        </li>
      </ul>
      <p class="mx-auto mt-6 max-w-md text-center leading-relaxed text-gray-500">
        <a href="#" class="color"> Aviso de Privacidad</a>
      </p>
      <ul class="mt-2 flex justify-center gap-6 md:gap-8">
        <li>
          <a href="www.facebook.com/p/Grupo-Maquirsa-100063649539774/?locale=es_LA" class="hover:text-blue-600"><i class="fa-brands fa-facebook-f text-2xl text-blue-700 hover:text-gray-600"></i></a>
        </li>
  
        <li>
          <a href="https://wa.link/9nmr67" class="hover:text-green-400"><i class="fa-brands fa-whatsapp text-2xl text-green-700 hover:text-gray-600"></i></a>
        </li>
      </ul>
      
    </div>
  </footer>